{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Start of the disclaimer -->
    <div class="p-4 mx-auto" style="max-width: 1100px;">
      <h1 class="font-weight-bold pt-3 text-center"><strong>About My ToDo List</strong></h1><br>
        <div class="container">
            <section>
                <p class="fs-6">Welcome to My ToDo List, your digital productivity hub designed to simplify task management and elevate your organizational prowess. At My ToDo List, we recognize the value of efficiency in today's fast-paced world, and our website is crafted to be your reliable companion in conquering your to-do lists effortlessly. My ToDo List is on a mission to revolutionize the way you approach tasks. We're committed to providing a seamless and enjoyable platform that enhances your productivity, giving you more time for what truly matters.</p>
            </section>

            <section>
                <h3 class="font-weight-bold pt-3 "><strong>Why My ToDo List?</strong></h3>
                <div class="p-3">
                    <section >
                        <h5 class="font-weight-bold pt-3"><strong>Elegance in Simplicity:</strong></h5>
                        <p>Experience the beauty of streamlined task management with our elegantly designed interface. Navigating through your to-dos has never been this delightful. Say goodbye to clutter and hello to a clean, intuitive layout that enhances your productivity.</p>
                    </section>
                
                    <section>
                        <h5 class="font-weight-bold pt-3"><strong>Tailored Task Organization:</strong></h5>
                        <p>My ToDo List empowers you to organize your tasks exactly the way you want. Create distinct lists for work, personal projects, or even bucket lists. Tailor your experience to suit your unique needs, fostering a sense of control and clarity in your hectic schedule.</p>
                    </section>
                
                    <section>
                        <h5 class="font-weight-bold pt-3"><strong>Seamless Prioritization:</strong></h5>
                        <p>Drag-and-drop functionality lets you arrange tasks effortlessly, ensuring you always focus on what matters most. Prioritize with precision, making your to-do list a dynamic reflection of your daily priorities.</p>
                    </section>
                
                    <section>
                        <h5 class="font-weight-bold pt-3"><strong>Anywhere, Anytime Access:</strong></h5>
                        <p>Life moves fast, and so do you. That's why My ToDo List seamlessly adapts to your on-the-go lifestyle. Access your to-do list from your computer, tablet, or smartphone, ensuring you're always connected to your tasks, no matter where you are.</p>
                    </section>
                
                    <section>
                        <h5 class="font-weight-bold pt-3"><strong>Smart Reminders and Notifications:</strong></h5>
                        <p>Stay on top of deadlines with customizable reminders and notifications. Never miss an important task again as My ToDo List keeps you in the loop and nudges you toward success.</p>
                    </section>
                
                    <section >
                        <h5 class="font-weight-bold pt-3"><strong>Collaborative Bliss:</strong></h5>
                        <p>Projects are more enjoyable when shared. Collaborate effortlessly by sharing lists with colleagues, friends, or family. Enjoy the synergy of joint accomplishments with our collaborative features.</p>
                    </section>
                
                    <section >
                        <h5 class="font-weight-bold pt-3"><strong>Fortress of Data Security:</strong></h5>
                        <p>Your trust is our priority. My ToDo List employs top-notch encryption and secure storage to safeguard your data. Rest easy,</p>
                    </section>
                </div>
                
                
            </section>

            <section>
                <h3 class="font-weight-bold pt-3 "><strong>Join the My ToDo List Community</strong></h3><br>
                <p>Embrace the power of community and shared productivity goals. Connect with like-minded individuals, exchange insights, and discover new strategies for maximizing your efficiency.<br><br>

                My ToDo List isn't just a website; it's your digital ally in achieving more every day. Dive into a world where productivity meets simplicity. Sign up now and transform the way you manage tasks with My ToDo List!</p>
            </section>
        </div>
        
      <br><br><br><br>

        <!-- End of the disclaimer -->

    
    </div>
  <!-- End of the content -->
{% endblock content %}
