{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class=" pt-4 container">
        <div class="text-center">
        <br>
        <img src="{% static "image/head.png" %}" alt="" id="head" >
        </div>
        <div class="p-4">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name of the task" id="newTask" required><br>
            <input type="text" name="description" placeholder="Description of the task"><br>
            <input type="date" name="date" placeholder="Date" ><br>
            <a href="#mytask"></a><button type="submit">Add</button></a>&nbsp;&nbsp;
            <a href="{% url 'home' %}"><button type="cancel">Cancel</button></a>
        </form>
        </div>

        <div class="p-4" >
            <div class="row task-list">
            <!-- My Tasks -->
            <div class="col-md-6" id="mytask">
                <h2>My Tasks</h2><br>
                <div class="p-4 pb-0" style="background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.39);">
                <h6>{{ task.date }}</h6>
                <h2>{{ task.name }} - {{ task.priority }}</h2>
                <p>{{ task.description }}</p>
                {% comment %} <a href="{% url 'update' task.name %}"><button>Edit</button></a>
                <a href="{% url 'delete' task.name %}"><button>Completed</button></a><br><br> {% endcomment %}
                <!-- Tasks will be dynamically added here -->
                </div><br><br>
            </div>
            
            <!-- Completed Tasks -->
            <div class="col-md-6" id="mytask">
                <h2>Completed Tasks</h2><br>
                <div class="p-4 pb-0" style="background-color: #a8aaac; box-shadow: 0 4px 8px rgb(104, 81, 81);">
                <h6>{{ task.date }}</h6>
                <h2>{{ task.name }} - {{ task.priority }}</h2>
                <p>{{ task.description }}</p>
                {% comment %} <a href="{% url 'delete' task.name %}"><button>Delete</button></a><br><br> {% endcomment %}
                <!-- Tasks will be dynamically added here -->
                </div>
            </div>
            </div>
        </div>
    
    
    </div>

{% endblock content %}